main{
    width: 75vw;
    margin: 2em auto;   
}

#addNote-title{
    color: var(--primary-clr);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-clr-2);
    margin-top: 2em;
}

form{
    color: var(--text-clr-1);    
    display: flex;
    flex-direction: column;
}

form>*{
    margin-top: 2em;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

#note-title{
    width: 30vw;
    padding: 0.5em;
}

#visibility{
    padding: 0.5em;
}

#addNote-btn{
    align-self: flex-end;
}

#editor{
    padding: 0.5em;
}

@media screen and (max-width: 690px) {
    main{
        width: 90vw;
    }
    #note-title{
        width: 90vw;
    }
}