header{
    background-color: var(--primary-clr);
    color: var(--text-clr-3);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    font-weight: 600;
    font-size: 1.5em;
}