@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary-clr: #3A79B2;
    --bg-clr: #F2F4F8;
    --text-clr-1: #333333;
    --text-clr-2: #757575;
    --text-clr-3: #ffffff;
    --link-clr: #9C27B0;
    --subtle-clr: #ECEFF1;
    --err-clr: #8f1515;
}

.err{
    color: var(--err-clr);
}

.btn{
    width: fit-content;
    background-color: var(--primary-clr);
    color: var(--text-clr-3);
    padding: 0.5em 1em;    
    border: 2px solid var(--primary-clr);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.05rem;
}

.btn:hover{
    background-color: var(--text-clr-3);
    color: var(--primary-clr);
}

.link{
    color: var(--link-clr);
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    html{
        font-size: 0.9em;
    }
}