<main>
    <div id="notes-container">
        <div class="note">
            <div class="note-left">
                <div class="note-title">Gardening Tips & Tricks</div>
                <p class="note-details">June 28, 2024 | John Doe</p>
            </div>
            <div class="note-right">
                <a routerLink="/notes/12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="note">
            <div class="note-left">
                <div class="note-title">Town Hall Meeting Recap</div>
                <p class="note-details">June 20, 2024 | James Wilson</p>
            </div>
            <div class="note-right">
                <a routerLink="/notes/12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="note">
            <div class="note-left">
                <div class="note-title">Literature Review - Topic XYZ</div>
                <p class="note-details">June 18, 2024 | John Smith</p>
            </div>
            <div class="note-right">
                <a routerLink="/notes/12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="note">
            <div class="note-left">
                <div class="note-title">Product Development Roadmap</div>
                <p class="note-details">May 27, 2024 | Richard Thompson</p>
            </div>
            <div class="note-right">
                <a routerLink="/notes/12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="note">
            <div class="note-left">
                <div class="note-title">Event Schedule - Summer Festival</div>
                <p class="note-details">June 28, 2024 | John Doe</p>
            </div>
            <div class="note-right">
                <a routerLink="/notes/12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>